@using System.Collections.Generic
@using System.Collections.ObjectModel
@using System.Web.Http.Description
@using System.Threading
@using DMS_WebAPI.Areas.HelpPage.ModelDescriptions
@model IList<ParameterDescription>

@if (Model.Count > 0)
{
    <table class="help-page-table">
      <thead>
        <tr>
          <th>Параметры</th>
          <th>Описание</th>
          @*<th>Type</th>
          <th>Additional information</th>*@
        </tr>
      </thead>
      <tbody>
        @foreach (ParameterDescription parameter in Model
            .OrderBy(x => x.Annotations.Any(y => y.Documentation == "Required") ? 0 : 1)
            .ThenBy(x => DMS_WebAPI.Areas.HelpPage.App_Start.Helper.GetOrderedName(x.Name))
            )
        {
          ModelDescription modelDescription = parameter.TypeDescription;
            <tr>
              <td class="parameters">
                <p>
                  <span class="parameter-name">@parameter.Name</span>
                  <span class="parameter-type">@Html.DisplayFor(m => modelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = modelDescription })</span>
                </p>
                @if (parameter.Annotations.Count > 0)
                {
                  foreach (var annotation in parameter.Annotations)
                  {
                        <p class="parameter-annotations">@annotation.Documentation</p>
                  }
                }
              </td>
              <td class="parameter-documentation">
                <p>@parameter.Documentation</p>
              </td>
              @*<td class="parameter-type">
                    @Html.DisplayFor(m => modelDescription.ModelType, "ModelDescriptionLink", new { modelDescription = modelDescription })
                </td>
                <td class="parameter-annotations">
                    @if (parameter.Annotations.Count > 0)
                    {
                        foreach (var annotation in parameter.Annotations)
                        {
                            <p>@annotation.Documentation</p>
                        }
                    }
                    else
                    {
                        <p>None.</p>
                    }
                </td>*@
            </tr>
        }
      </tbody>
    </table>
}
else
{
    <p>None.</p>
}

