@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using DMS_WebAPI.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "API.V3 Help Page";

    // Group APIs by controller
    //ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);

    //ControllerName = x.ActionDescriptor.ControllerDescriptor.ControllerName

    var list = Model.Where(x => x.ActionDescriptor.ControllerDescriptor.ControllerType.Namespace.Contains("ControllersV3."))
.GroupBy(x => new { Namespace = x.ActionDescriptor.ControllerDescriptor.ControllerType.Namespace })
.OrderBy(x => x.Key.Namespace.Replace(".Lists", ".AA_Lists").Replace(".User", ".WW_User").Replace(".System", ".ZZ_System"))
// .ThenBy(g => g.Key.ControllerName)
.Select(x => new
{
  Name = x.Key.Namespace.Split('.').Last().ToString(),
  List = x.ToLookup(api => api.ActionDescriptor.ControllerDescriptor).OrderBy(y=>y.Key.ControllerName.Replace("Info", "AAA_Info"))
}).ToList();

}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
  <div class="content-wrapper">
    <div class="float-left">
      <h1>@ViewBag.Title</h1>
    </div>
  </div>
</header>
<div id="body" class="help-page">
  <section class="featured">
    <div class="content-wrapper">
      <h2>Описание АПИ функций версии V3</h2>

      <p class="important_text">
        Общие принципы построения системы находятся в
        <a href="https://workflowy.com/s/sefk5EUIQ7">Workflowy</a>
      </p>
      <p>
        Апи v3 построено на основе Module - Feature, согласовано
        <a href="https://docs.google.com/spreadsheets/d/1M-WISeWbl8ai40ATeliRam9d-HfkZSTSDN8Vobzvksc/edit?usp=sharing">Rest Architectual Concept</a>
      </p>
    </div>
  </section>
  <section class="content-wrapper main-content clear-fix">
    @foreach (var group in list)
    {

        <div class="well well-sm" data-target=@Html.Raw("#" + @group.Name + "collapse") data-toggle="collapse">
          <h2 id=@group.Name>@group.Name</h2>
          
        </div>


        <div id=@Html.Raw(group.Name + "collapse") class="collapse">

          @if (group.List.Count() > 1)
          {
              <ul class="nav nav-tabs">
                @foreach (var gr in group.List)
                {
                    <li class=@(gr == group.List.FirstOrDefault() ? "active" : "=")>
                      <a data-toggle="tab" href=@Html.Raw("#" + gr.Key.ControllerName)>
                        @((gr.Key.ControllerName.Contains("System") || gr.Key.ControllerName.Contains("List") || gr.Key.ControllerName.Contains("TypeInfo")) ? 
                        gr.Key.ControllerName : 
                        string.Join("", gr.Key.ControllerName.Substring(2).SkipWhile(x => !char.IsUpper(x))))
                      </a>
                    </li>
                }
              </ul>

              <div class="tab-content">
                @foreach (var apis in group.List)
                {
                  if (apis == group.List.FirstOrDefault())
                  {
                        <div id=@Html.Raw(apis.Key.ControllerName) class="tab-pane fade in active">
                          @Html.DisplayFor(m => apis, "ApiGroup");
                        </div>

                  }
                  else
                  {
                        <div id=@Html.Raw(apis.Key.ControllerName) class="tab-pane fade">
                          @Html.DisplayFor(m => apis, "ApiGroup");
                        </div>
                  }

                }

              </div>
          }
          else
          {
              foreach (var apis in group.List)
              {
                  @Html.DisplayFor(m => apis, "ApiGroup");
              }
          }

        </div>
    }
  </section>
</div>


<script>
  $(document).ready(function () {
    $('[data-toggle="popover"]').popover();
  });
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>