@model DMS_WebAPI.Models.MailWithCallToActionModel

@{
    Layout = null;
}

<div>
  <br>
  @Model.Greeting 
  <br>
  <br>
  @Model.CallToActionDescription
  <br>
  <br>
  <a style="border-radius: 4px;font-size: 15px;color: white;text-decoration: none;padding: 14px 7px 14px 7px;width: 210px;max-width: 210px;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Arial;margin: 0;display: block;background-color: #007ee6;text-align: center;"
     href='@Model.CallToActionUrl' target="_blank" rel="noopener">@Model.CallToActionName</a>
  <br>
  <br>
  @{
      if (!string.IsNullOrEmpty(Model.PostScriptum))
      {
          @Model.PostScriptum
          <br>
          <br>
      }
  }
  @Model.Closing
</div>