@model DMS_WebAPI.Models.NewCompanyRequestModel

@{
    Layout = null;
}

<div>
  <br>
  <br>
  @Model.Greeting
  <br>
  <br>
  Вы только что зарегистрировали пробный аккаунт @Model.ClientName в Docum!
  Для подтверждения нажмите на эту ссылку:
  <br>
  <br>
  <a style="border-radius: 4px;font-size: 15px;color: white;text-decoration: none;padding: 14px 7px 14px 7px;width: 210px;max-width: 210px;font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Arial;margin: 0;display: block;background-color: #007ee6;text-align: center;"
     href='@Model.CallToActionUrl' target="_blank" rel="noopener">@Model.CallToActionName</a>
  <br>
  <br>
  @Model.Closing
</div>